/* for the search bar */

h1 {
  font-size: 36px;
  color: #333;
  text-align: center;
  margin-top: 50px;
}

form {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="text"] {
  width: 70%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
}

input[type="submit"] {
  width: 20%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

ul {
  list-style: none;
  padding: 0;
  margin: 12px 0;
}

li {
  display: inline-block;
  padding: 6px 12px;
  font-size: 18px;
}

