#loading {
    display: none;
    margin-top: 10px;
}
.spinner {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
    display: inline-block;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


/* Slider */
.slider-container {
    width: 300px;
    text-align: center;
}
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    transition: opacity .2s;
}
.slider:hover {
    opacity: 1;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}
.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}
.labels {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    color: #333;
    font-family: Arial, sans-serif;
}
.labels span {
    position: relative;
    display: inline-block;
}
.labels span:first-child {
    left: -20%;
}
.labels span:last-child {
    right: -20%;
}
#info_block {
    display: none;
    margin-top: 5px;
}
