[submodule "data/trakaido_wordlists"]
	path = data/trakaido_wordlists
	url = git@github.com:powera/trakaido-wordlists.git
[submodule "audio"]
	path = audio
	url = git@github.com:powera/audiotools
[submodule "data/greenland_input"]
	path = data/greenland_input
	url = git@github.com:powera/greenland-input.git
