__pycache__/

.ipynb*
src/anaconda_projects/

# vim temp files
*.swp

# API keys
keys/

# pyinstaller
build/
dist/
.eggs/
greenland.egg-info/
.DS_Store
devserver.spec

# local input data
input/

# local datastores
src/schema/benchmarks.db
src/wordfreq/data/linguistics.sqlite
src/clients/data/batch_tracking.sqlite

# for claude staging
claude/staging

# wordfreq local data / tmp
src/wordfreq/data_old/
src/wordfreq/output/

# gitstore local
data/working
