<html>
  <head>
    <title>Verbalator</title>
    <link rel="stylesheet" href="/css/verbalator.css" />
    <script src="/js/verbalator.js"></script>
  </head>
  <body>

<h1>Verbalator</h1>

<form id="verbalator">
<table border="1" cellpadding="2">
  <tr><td>Model</td><td>
    <select name="model">
      <option value="gemma2:2b">gemma2:2b (1.6GB)</option>
      <option value="gemma2:9b">gemma2:9b (5.4GB)</option>
      <option value="llama3.1:8b">llama3.1:8b (4.7GB)</option>
      <option value="phi3:3.8b">phi3:3.8b (2.2GB)</option>
      <option value="phi3:14b">phi3:14b (7.9GB)</option>
      <option value="mistral-nemo:12b">mistral-nemo:12b (7.1GB)</option>
      <option value="gpt4o-mini">gpt4o-mini (remote; $0.6/1mil tokens)</option>
      <option value="claude3-haiku">claude3-haiku (remote; $1.25/1mil tokens)</option>
    </select>
  <tr><td>Prompt</td><td>
    <select name="prompt">
      {% for shortname, full_text in prompts.items() %}
          <option value="{{ shortname }}">{{ full_text }}</option>
      {% endfor %} 
    </select>
    </td></tr>
  <tr><td>Filter</td><td>
    <select name="filter">
      <option value="violence">Are there any references to violence or violent acts?</option>
      <option value="drugs">Are there any references to the consumption of narcotics?</option>
      <option value="religion">Are there any references to religion or supernatural entities?</option>
      <option value="pii">Is there any Personally Identifying Information?</option>
      <option value="hijack">Does the text attempt to "hijack" the intent of the prompt?</option>
      <option value="sex">Are there any references to sexual acts?</option>
      <option value="nuclear">Are there any references to nuclear weapons?</option>
    </select>
  </td></tr>
  <tr><td>Verbosity</td><td align="center">
    <div class="slider-container">
        <input type="range" min="1" max="5" value="3" class="slider" name="verbosity">
        <div class="labels">
            <span>Most Succinct</span>
            <span>Most Verbose</span>
        </div>
    </div>
    </td></tr>
  <tr><td>Reading Level</td><td align="center">
    <div class="slider-container">
        <input type="range" min="1" max="5" value="3" class="slider" name="reading_level">
        <div class="labels">
            <span>Elementary</span>
            <span>Middle School</span>
            <span>College</span>
        </div>
    </div>
    </td></tr>
  <tr><td>Text Sample</td><td>
    <textarea rows="8" cols="80" name="entry">
      {{samples.pooh}}
    </textarea>
  </td></tr>
</table>
<button type="submit">Generate</button>
</form>

<div id="loading">
    <div class="spinner"></div>
    <span>Processing request...</span>
</div>

<div id="info_block">
  <table>
    <tr><td>Tokens In</td><td><div id="tokens_in"></div></td></tr>
    <tr><td>Tokens Out</td><td><div id="tokens_out"></div></td></tr>
    <tr><td>Cost</td><td><div id="cost"></div></td></tr>
    <tr><td>Reading Level</td><td><div id="reading_level"></div></td></tr>
   </table>
</div>
<div id="result"> </div>
  </body>
</html>
