<html>
  <head><title>Verbalator</title></head>
  <body>

<h1>Verbalator</h1>

<form method="post" name="verbalator">
  <table><tr><td>Text Sample</td><td>
  <textarea rows="8" cols="80" name="entry">
    {{samples.gibbon}}
</textarea>
  </td></tr>
  <tr><td>Prompt</td><td>
    <select name="prompt">
      <option value="style">What is the style of the text?</option>
      <option value="difficulty">What is the difficulty of the language used in the text?</option>
      <option value="history">What level of historical knowledge is necessary for understanding the text?</option>
      <option value="science">What level of scientific knowledge is necessary for understanding the text?</option>
    </select>
    </td></tr>
  </table>
<input type="submit" />
</form>

  </body>
</html>
